<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diskin.alon.presentation">

    <application>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_label"
            android:theme="@style/Theme.Sonix"
            android:launchMode="singleTop"
            android:exported="true" />
    </application>

</manifest>